In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("HRpreprocessed.csv")
dataset

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [3]:
dataset["Attrition"].value_counts()

Attrition
No     1242
Yes     238
Name: count, dtype: int64

In [4]:
dataset

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [5]:
dataset.columns

Index(['EmpID', 'Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'SalarySlab',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [6]:
dataset=dataset.drop(['EmpID','AgeGroup','SalarySlab'],axis=1)

In [7]:
dataset

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,18,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,405,...,3,80,0,0,2,3,0,0,0,0.0
1,18,No,Travel_Rarely,812,Sales,10,3,Medical,1,411,...,1,80,0,0,2,3,0,0,0,0.0
2,18,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,1,614,...,4,80,0,0,3,3,0,0,0,0.0
3,18,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1,1012,...,4,80,0,0,2,3,0,0,0,0.0
4,18,Yes,Non-Travel,247,Research & Development,8,1,Medical,1,1156,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,60,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,549,...,4,80,0,33,5,1,29,8,11,10.0
1476,60,No,Travel_Frequently,1499,Sales,28,3,Marketing,1,573,...,4,80,0,22,5,4,18,13,13,11.0
1477,60,No,Travel_Rarely,1179,Sales,16,4,Marketing,1,732,...,4,80,0,10,1,3,2,2,2,2.0
1478,60,No,Travel_Rarely,696,Sales,7,4,Marketing,1,1233,...,2,80,1,12,3,3,11,7,1,9.0
1479,60,No,Travel_Rarely,370,Research & Development,1,4,Medical,1,1697,...,3,80,1,19,2,4,1,0,0,0.0

In [8]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [9]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,18,230,3,3,1,405,3,54,3,1,...,True,False,False,False,False,False,False,False,True,False
1,18,812,10,3,1,411,4,69,2,1,...,False,False,False,False,False,False,True,False,True,False
2,18,1306,5,3,1,614,2,69,3,1,...,False,False,False,False,False,False,True,False,True,True
3,18,287,5,2,1,1012,2,73,3,1,...,False,False,False,False,True,False,False,False,True,False
4,18,247,8,1,1,1156,3,80,3,1,...,True,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,60,422,7,3,1,549,1,41,3,5,...,False,True,False,False,False,False,False,True,False,False
1476,60,1499,28,3,1,573,3,80,2,3,...,False,False,False,False,False,True,False,True,False,False
1477,60,1179,16,4,1,732,1,84,3,2,...,False,False,False,False,False,True,False,False,True,False
1478,60,696,7,4,1,1233,2,52,4,2,...,False,False,False,False,False,True,False,False,False,True
1479,60,370,1,4,1,1697,3,92,1,3,...,False,False,False,False,False,False,False,False,False,False

In [10]:
dataset.astype(int)

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,18,230,3,3,1,405,3,54,3,1,...,1,0,0,0,0,0,0,0,1,0
1,18,812,10,3,1,411,4,69,2,1,...,0,0,0,0,0,0,1,0,1,0
2,18,1306,5,3,1,614,2,69,3,1,...,0,0,0,0,0,0,1,0,1,1
3,18,287,5,2,1,1012,2,73,3,1,...,0,0,0,0,1,0,0,0,1,0
4,18,247,8,1,1,1156,3,80,3,1,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,60,422,7,3,1,549,1,41,3,5,...,0,1,0,0,0,0,0,1,0,0
1476,60,1499,28,3,1,573,3,80,2,3,...,0,0,0,0,0,1,0,1,0,0
1477,60,1179,16,4,1,732,1,84,3,2,...,0,0,0,0,0,1,0,0,1,0
1478,60,696,7,4,1,1233,2,52,4,2,...,0,0,0,0,0,1,0,0,0,1
1479,60,370,1,4,1,1697,3,92,1,3,...,0,0,0,0,0,0,0,0,0,0

In [11]:
pd.set_option('display.max_columns',None)

In [12]:
print(dataset)

      Age  DailyRate  DistanceFromHome  Education  EmployeeCount  \
0      18        230                 3          3              1
1      18        812                10          3              1
2      18       1306                 5          3              1
3      18        287                 5          2              1
4      18        247                 8          1              1
...   ...        ...               ...        ...            ...
1475   60        422                 7          3              1
1476   60       1499                28          3              1
1477   60       1179                16          4              1
1478   60        696                 7          4              1
1479   60        370                 1          4              1

      EmployeeNumber  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
0                405                        3          54               3
1                411                        4          69               2
2                614                        2          69               3
3               1012                        2          73               3
4               1156                        3          80               3
...              ...                      ...         ...             ...
1475             549                        1          41               3
1476             573                        3          80               2
1477             732                        1          84               3
1478            1233                        2          52               4
1479            1697                        3          92               1

      JobLevel  JobSatisfaction  MonthlyIncome  MonthlyRate  \
0            1                3           1420        25233
1            1                3           1200         9724
2            1                2           1878         8059
3            1                4           1051        13493
4            1                3           1904        13556
...        ...              ...            ...          ...
1475         5                1          19566         3854
1476         3                1          10266         2845
1477         2                1           5405        11924
1478         2                4           5220        10893
1479         3                4          10883        20467

      NumCompaniesWorked  PercentSalaryHike  PerformanceRating  \
0                      1                 13                  3
1                      1                 12                  3
2                      1                 14                  3
3                      1                 15                  3
4                      1                 12                  3
...                  ...                ...                ...
1475                   5                 11                  3
1476                   4                 19                  3
1477                   8                 14                  3
1478                   0                 18                  3
1479                   3                 20                  4

      RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                            3             80                 0
1                            1             80                 0
2                            4             80                 0
3                            4             80                 0
4                            4             80                 0
...                        ...            ...               ...
1475                         4             80                 0
1476                         4             80                 0
1477                         4             80                 0
1478                         2             80                 1
1479                         3             80                 1

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                     0                      2                3
1                     0                      2                3
2                     0                      3                3
3                     0                      2                3
4                     0                      0                3
...                 ...                    ...              ...
1475                 33                      5                1
1476                 22                      5                4
1477                 10                      1                3
1478                 12                      3                3
1479                 19                      2                4

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
0                  0                   0                        0
1                  0                   0                        0
2                  0                   0                        0
3                  0                   0                        0
4                  0                   0                        0
...              ...                 ...                      ...
1475              29                   8                       11
1476              18                  13                       13
1477               2                   2                        2
1478              11                   7                        1
1479               1                   0                        0

      YearsWithCurrManager  Attrition_Yes  BusinessTravel_TravelRarely  \
0                      0.0           True                        False
1                      0.0          False                        False
2                      0.0           True                        False
3                      0.0          False                        False
4                      0.0           True                        False
...                    ...            ...                          ...
1475                  10.0          False                        False
1476                  11.0          False                        False
1477                   2.0          False                        False
1478                   9.0          False                        False
1479                   0.0          False                        False

      BusinessTravel_Travel_Frequently  BusinessTravel_Travel_Rarely  \
0                                False                          True
1                                False                          True
2                                 True                         False
3                                False                         False
4                                False                         False
...                                ...                           ...
1475                             False                          True
1476                              True                         False
1477                             False                          True
1478                             False                          True
1479                             False                          True

      Department_Research & Development  Department_Sales  \
0                                  True             False
1                                 False              True
2                                 False              True
3                                  True             False
4                                  True             False
...                                 ...               ...
1475                               True             False
1476                              False              True
1477                              False              True
1478                              False              True
1479                               True             False

      EducationField_Life Sciences  EducationField_Marketing  \
0                             True                     False
1                            False                     False
2                            False                      True
3                             True                     False
4                            False                     False
...                            ...                       ...
1475                          True                     False
1476                         False                      True
1477                         False                      True
1478                         False                      True
1479                         False                     False

      EducationField_Medical  EducationField_Other  \
0                      False                 False
1                       True                 False
2                      False                 False
3                      False                 False
4                       True                 False
...                      ...                   ...
1475                   False                 False
1476                   False                 False
1477                   False                 False
1478                   False                 False
1479                    True                 False

      EducationField_Technical Degree  Gender_Male  JobRole_Human Resources  \
0                               False         True                    False
1                               False        False                    False
2                               False         True                    False
3                               False         True                    False
4                               False         True                    False
...                               ...          ...                      ...
1475                            False        False                    False
1476                            False        False                    False
1477                            False         True                    False
1478                            False         True                    False
1479                            False         True                    False

      JobRole_Laboratory Technician  JobRole_Manager  \
0                              True            False
1                             False            False
2                             False            False
3                             False            False
4                              True            False
...                             ...              ...
1475                          False             True
1476                          False            False
1477                          False            False
1478                          False            False
1479                          False            False

      JobRole_Manufacturing Director  JobRole_Research Director  \
0                              False                      False
1                              False                      False
2                              False                      False
3                              False                      False
4                              False                      False
...                              ...                        ...
1475                           False                      False
1476                           False                      False
1477                           False                      False
1478                           False                      False
1479                           False                      False

      JobRole_Research Scientist  JobRole_Sales Executive  \
0                          False                    False
1                          False                    False
2                          False                    False
3                           True                    False
4                          False                    False
...                          ...                      ...
1475                       False                    False
1476                       False                     True
1477                       False                     True
1478                       False                     True
1479                       False                    False

      JobRole_Sales Representative  MaritalStatus_Married  \
0                            False                  False
1                             True                  False
2                             True                  False
3                            False                  False
4                            False                  False
...                            ...                    ...
1475                         False                   True
1476                         False                   True
1477                         False                  False
1478                         False                  False
1479                         False                  False

      MaritalStatus_Single  OverTime_Yes
0                     True         False
1                     True         False
2                     True          True
3                     True         False
4                     True         False
...                    ...           ...
1475                 False         False
1476                 False         False
1477                  True         False
1478                 False          True
1479                 False         False

[1480 rows x 49 columns]

In [13]:
dataset.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition_Yes',
       'BusinessTravel_TravelRarely', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Male', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'OverTime_Yes'],
      dtype='object')

In [14]:
independent=dataset[['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 
       'BusinessTravel_TravelRarely', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Male', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'OverTime_Yes']]

In [15]:
independent

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel_TravelRarely,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Male,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,18,230,3,3,1,405,3,54,3,1,3,1420,25233,1,13,3,3,80,0,0,2,3,0,0,0,0.0,False,False,True,True,False,True,False,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False
1,18,812,10,3,1,411,4,69,2,1,3,1200,9724,1,12,3,1,80,0,0,2,3,0,0,0,0.0,False,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,True,False
2,18,1306,5,3,1,614,2,69,3,1,2,1878,8059,1,14,3,4,80,0,0,3,3,0,0,0,0.0,False,True,False,False,True,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,True,True
3,18,287,5,2,1,1012,2,73,3,1,4,1051,13493,1,15,3,4,80,0,0,2,3,0,0,0,0.0,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False
4,18,247,8,1,1,1156,3,80,3,1,3,1904,13556,1,12,3,4,80,0,0,0,3,0,0,0,0.0,False,False,False,True,False,False,False,True,False,False,True,False,True,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,60,422,7,3,1,549,1,41,3,5,1,19566,3854,5,11,3,4,80,0,33,5,1,29,8,11,10.0,False,False,True,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False
1476,60,1499,28,3,1,573,3,80,2,3,1,10266,2845,4,19,3,4,80,0,22,5,4,18,13,13,11.0,False,True,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False
1477,60,1179,16,4,1,732,1,84,3,2,1,5405,11924,8,14,3,4,80,0,10,1,3,2,2,2,2.0,False,False,True,False,True,False,True,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False
1478,60,696,7,4,1,1233,2,52,4,2,4,5220,10893,0,18,3,2,80,1,12,3,3,11,7,1,9.0,False,False,True,False,True,False,True,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True
1479,60,370,1,4,1,1697,3,92,1,3,4,10883,20467,3,20,4,3,80,1,19,2,4,1,0,0,0.0,False,False,True,True,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [16]:
independent.astype(int)

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel_TravelRarely,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Male,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,18,230,3,3,1,405,3,54,3,1,3,1420,25233,1,13,3,3,80,0,0,2,3,0,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0
1,18,812,10,3,1,411,4,69,2,1,3,1200,9724,1,12,3,1,80,0,0,2,3,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0
2,18,1306,5,3,1,614,2,69,3,1,2,1878,8059,1,14,3,4,80,0,0,3,3,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,1
3,18,287,5,2,1,1012,2,73,3,1,4,1051,13493,1,15,3,4,80,0,0,2,3,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
4,18,247,8,1,1,1156,3,80,3,1,3,1904,13556,1,12,3,4,80,0,0,0,3,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,60,422,7,3,1,549,1,41,3,5,1,19566,3854,5,11,3,4,80,0,33,5,1,29,8,11,10,0,0,1,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
1476,60,1499,28,3,1,573,3,80,2,3,1,10266,2845,4,19,3,4,80,0,22,5,4,18,13,13,11,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1477,60,1179,16,4,1,732,1,84,3,2,1,5405,11924,8,14,3,4,80,0,10,1,3,2,2,2,2,0,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
1478,60,696,7,4,1,1233,2,52,4,2,4,5220,10893,0,18,3,2,80,1,12,3,3,11,7,1,9,0,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1
1479,60,370,1,4,1,1697,3,92,1,3,4,10883,20467,3,20,4,3,80,1,19,2,4,1,0,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [17]:
dependent=dataset[['Attrition_Yes']]

In [18]:
dependent

      Attrition_Yes
0              True
1             False
2              True
3             False
4              True
...             ...
1475          False
1476          False
1477          False
1478          False
1479          False

[1480 rows x 1 columns]

In [19]:
dependent.astype(int)

      Attrition_Yes
0                 1
1                 0
2                 1
3                 0
4                 1
...             ...
1475              0
1476              0
1477              0
1478              0
1479              0

[1480 rows x 1 columns]

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [21]:
X_train,X_test,Y_train,Y_test

(      Age  DailyRate  DistanceFromHome  Education  EmployeeCount  \
 271    29        442                 2          2              1
 506    32       1259                 2          4              1
 688    35        672                25          3              1
 1300   49        464                16          3              1
 937    39       1089                 6          3              1
 ...   ...        ...               ...        ...            ...
 763    36       1425                14          1              1
 835    37       1252                19          2              1
 1216   46       1125                10          3              1
 559    33        536                10          5              1
 684    35        950                 7          3              1

       EmployeeNumber  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
 271              388                        2          44               3
 506             1692                        4          95               3
 688              899                        4          78               2
 1300            1674                        4          74               3
 937             1525                        2          32               3
 ...              ...                      ...         ...             ...
 763              924                        3          68               3
 835              904                        1          32               3
 1216             580                        3          94               2
 559             1268                        4          82               4
 684              845                        3          59               3

       JobLevel  JobSatisfaction  MonthlyIncome  MonthlyRate  \
 271          2                4           4554        20260
 506          1                2           1393        24852
 688          3                2          10903         9129
 1300         1                1           2587        24941
 937          3                2           8376         9150
 ...        ...              ...            ...          ...
 763          2                4           6586         4821
 835          3                2           7642         4814
 1216         3                4           9071        11563
 559          3                3           8380        21708
 684          3                3          10221        18869

       NumCompaniesWorked  PercentSalaryHike  PerformanceRating  \
 271                    1                 18                  3
 506                    1                 12                  3
 688                    3                 16                  3
 1300                   4                 16                  3
 937                    4                 18                  3
 ...                  ...                ...                ...
 763                    0                 17                  3
 835                    1                 13                  3
 1216                   2                 19                  3
 559                    0                 14                  3
 684                    3                 21                  4

       RelationshipSatisfaction  StandardHours  StockOptionLevel  \
 271                          1             80                 0
 506                          1             80                 0
 688                          1             80                 0
 1300                         2             80                 1
 937                          4             80                 0
 ...                        ...            ...               ...
 763                          1             80                 1
 835                          4             80                 0
 1216                         3             80                 1
 559                          4             80                 2
 684                          2             80                 0

       TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
 271                  10                      3                2
 506                   1                      2                3
 688                  16                      2                3
 1300                 17                      2                2
 937                   9                      3                3
 ...                 ...                    ...              ...
 763                  17                      2                2
 835                  10                      2                3
 1216                 15                      3                3
 559                  10                      3                3
 684                  17                      3                4

       YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
 271               10                   7                        0
 506                1                   0                        0
 688               13                  10                        4
 1300               2                   2                        2
 937                2                   0                        2
 ...              ...                 ...                      ...
 763               16                   8                        4
 835               10                   0                        0
 1216               3                   2                        1
 559                9                   8                        0
 684                8                   5                        1

       YearsWithCurrManager  BusinessTravel_TravelRarely  \
 271                    9.0                        False
 506                    0.0                        False
 688                    8.0                        False
 1300                   2.0                        False
 937                    2.0                        False
 ...                    ...                          ...
 763                   11.0                        False
 835                    9.0                        False
 1216                   2.0                        False
 559                    8.0                        False
 684                    6.0                        False

       BusinessTravel_Travel_Frequently  BusinessTravel_Travel_Rarely  \
 271                               True                         False
 506                              False                          True
 688                              False                          True
 1300                             False                          True
 937                              False                          True
 ...                                ...                           ...
 763                              False                          True
 835                              False                         False
 1216                             False                          True
 559                              False                          True
 684                              False                          True

       Department_Research & Development  Department_Sales  \
 271                               False              True
 506                                True             False
 688                                True             False
 1300                               True             False
 937                                True             False
 ...                                 ...               ...
 763                                True             False
 835                               False              True
 1216                              False              True
 559                               False              True
 684                                True             False

       EducationField_Life Sciences  EducationField_Marketing  \
 271                           True                     False
 506                           True                     False
 688                          False                     False
 1300                         False                     False
 937                           True                     False
 ...                            ...                       ...
 763                           True                     False
 835                          False                     False
 1216                         False                      True
 559                          False                      True
 684                          False                     False

       EducationField_Medical  EducationField_Other  \
 271                    False                 False
 506                    False                 False
 688                    False                 False
 1300                    True                 False
 937                    False                 False
 ...                      ...                   ...
 763                    False                 False
 835                     True                 False
 1216                   False                 False
 559                    False                 False
 684                    False                  True

       EducationField_Technical Degree  Gender_Male  JobRole_Human Resources  \
 271                             False         True                    False
 506                             False         True                    False
 688                              True         True                    False
 1300                            False        False                    False
 937                             False        False                    False
 ...                               ...          ...                      ...
 763                             False         True                    False
 835                             False         True                    False
 1216                            False        False                    False
 559                             False         True                    False
 684                             False         True                    False

       JobRole_Laboratory Technician  JobRole_Manager  \
 271                           False            False
 506                            True            False
 688                           False            False
 1300                           True            False
 937                           False            False
 ...                             ...              ...
 763                           False            False
 835                           False            False
 1216                          False            False
 559                           False            False
 684                           False            False

       JobRole_Manufacturing Director  JobRole_Research Director  \
 271                            False                      False
 506                            False                      False
 688                             True                      False
 1300                           False                      False
 937                             True                      False
 ...                              ...                        ...
 763                            False                      False
 835                            False                      False
 1216                           False                      False
 559                            False                      False
 684                             True                      False

       JobRole_Research Scientist  JobRole_Sales Executive  \
 271                        False                     True
 506                        False                    False
 688                        False                    False
 1300                       False                    False
 937                        False                    False
 ...                          ...                      ...
 763                        False                    False
 835                        False                     True
 1216                       False                     True
 559                        False                     True
 684                        False                    False

       JobRole_Sales Representative  MaritalStatus_Married  \
 271                          False                  False
 506                          False                  False
 688                          False                   True
 1300                         False                  False
 937                          False                  False
 ...                            ...                    ...
 763                          False                   True
 835                          False                  False
 1216                         False                   True
 559                          False                  False
 684                          False                  False

       MaritalStatus_Single  OverTime_Yes
 271                   True         False
 506                   True         False
 688                  False         False
 1300                 False          True
 937                   True         False
 ...                    ...           ...
 763                  False          True
 835                   True          True
 1216                 False          True
 559                  False          True
 684                   True         False

 [986 rows x 48 columns],
       Age  DailyRate  DistanceFromHome  Education  EmployeeCount  \
 567    33        392                 2          4              1
 1041   41       1200                22          3              1
 649    34        735                 3          1              1
 666    35        662                 1          5              1
 568    33        530                16          3              1
 ...   ...        ...               ...        ...            ...
 740    36        132                 6          3              1
 10     19        602                 1          1              1
 1042   41       1283                 5          5              1
 720    35        880                12          4              1
 1267   48       1469                20          4              1

       EmployeeNumber  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
 567             1670                        4          93               3
 1041            1392                        4          75               3
 649             1915                        4          75               2
 666              204                        3          94               3
 568             1681                        3          36               3
 ...              ...                      ...         ...             ...
 740               97                        2          55               4
 10               235                        3         100               1
 1042            1448                        2          90               4
 720             1667                        4          36               3
 1267             945                        4          51               3

       JobLevel  JobSatisfaction  MonthlyIncome  MonthlyRate  \
 567          2                4           5505         3921
 1041         2                4           5467        13953
 649          2                4           8103        16495
 666          3                2           7295        11439
 568          2                4           5368        16130
 ...        ...              ...            ...          ...
 740          1                4           3038        22002
 10           1                1           2325        20989
 1042         1                3           2127         5561
 720          2                4           4581        10414
 1267         1                3           2259         5543

       NumCompaniesWorked  PercentSalaryHike  PerformanceRating  \
 567                    1                 14                  3
 1041                   3                 14                  3
 649                    3                 12                  3
 666                    1                 13                  3
 568                    1                 25                  4
 ...                  ...                ...                ...
 740                    3                 12                  3
 10                     0                 21                  4
 1042                   2                 12                  3
 720                    3                 24                  4
 1267                   4                 17                  3

       RelationshipSatisfaction  StandardHours  StockOptionLevel  \
 567                          3             80                 2
 1041                         1             80                 2
 649                          3             80                 0
 666                          1             80                 2
 568                          3             80                 1
 ...                        ...            ...               ...
 740                          2             80                 0
 10                           1             80                 0
 1042                         1             80                 0
 720                          1             80                 0
 1267                         1             80                 2

       TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
 567                   6                      5                3
 1041                 12                      4                2
 649                   9                      3                2
 666                  10                      3                3
 568                   7                      2                3
 ...                 ...                    ...              ...
 740                   5                      3                3
 10                    1                      5                4
 1042                  7                      5                2
 720                  13                      2                4
 1267                 13                      2                2

       YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
 567                6                   2                        0
 1041               6                   2                        3
 649                4                   2                        0
 666               10                   8                        0
 568                6                   5                        1
 ...              ...                 ...                      ...
 740                1                   0                        0
 10                 0                   0                        0
 1042               4                   2                        0
 720               11                   9                        6
 1267               0                   0                        0

       YearsWithCurrManager  BusinessTravel_TravelRarely  \
 567                    4.0                        False
 1041                   3.0                        False
 649                    1.0                        False
 666                    6.0                        False
 568                    2.0                        False
 ...                    ...                          ...
 740                    0.0                        False
 10                     0.0                        False
 1042                   3.0                        False
 720                    7.0                        False
 1267                   0.0                        False

       BusinessTravel_Travel_Frequently  BusinessTravel_Travel_Rarely  \
 567                              False                          True

In [22]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [23]:
#Model Creation
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
parameters = {'n_estimators':[10,50,100], 
              'criterion':['gini', 'entropy', 'log_loss'],# paramters are random forest from website
              'max_features':['sqrt', 'log2']}

grid = GridSearchCV(RandomForestClassifier(),parameters, refit = True, verbose =3, n_jobs=-1, scoring='f1') 
#refit true is for finding the best model,
#false will give last model
#https://scikit-learn.org/stable/modules/model_evaluation.html - for scoring 
grid.fit(X_train,Y_train) # can able to call directly without training and testing

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 50, 100]},
             scoring='f1', verbose=3)

In [24]:
print(grid.best_params_)

{'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 100}

In [25]:
classifier = grid.cv_results_ 
classifier
print('The value for best parameter: ',format(grid.best_params_))

The value for best parameter:  {'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 100}

In [26]:
table = pd.DataFrame.from_dict(classifier)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.091543,0.001957,0.029181,0.001325,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.279070,0.307692,0.111111,0.111111,0.000000,0.161797,0.115200,18
1,0.376766,0.007206,0.033398,0.001013,gini,sqrt,50,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.307692,0.368421,0.350000,0.162162,0.171429,0.271941,0.088129,6
2,0.757213,0.008761,0.046372,0.002870,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.390244,0.270270,0.222222,0.270270,0.166667,0.263935,0.073804,8
3,0.080328,0.002878,0.024985,0.000631,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.307692,0.171429,0.250000,0.157895,0.162162,0.209836,0.059388,17
4,0.357578,0.006935,0.032780,0.000748,gini,log2,50,"{'criterion': 'gini', 'max_features': 'log2', ...",0.350000,0.307692,0.315789,0.270270,0.216216,0.291994,0.045588,2
5,0.705560,0.008734,0.044173,0.002038,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.390244,0.315789,0.324324,0.114286,0.171429,0.263214,0.103189,10
6,0.089344,0.001019,0.024585,0.000490,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.270270,0.277778,0.270270,0.250000,0.243902,0.262444,0.013086,11
7,0.409475,0.006312,0.032780,0.002133,entropy,sqrt,50,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.350000,0.315789,0.263158,0.263158,0.216216,0.281664,0.046482,3
8,0.802502,0.016337,0.044173,0.001938,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.390244,0.368421,0.228571,0.216216,0.263158,0.293322,0.072224,1
9,0.087744,0.004018,0.025384,0.002496,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.300000,0.270270,0.162162,0.157895,0.216216,0.221309,0.056807,15
10,0.387758,0.005547,0.034379,0.002057,entropy,log2,50,"{'criterion': 'entropy', 'max_features': 'log2...",0.222222,0.358974,0.222222,0.216216,0.166667,0.237260,0.064332,14
11,0.773920,0.012854,0.053368,0.017375,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.428571,0.263158,0.307692,0.166667,0.171429,0.267503,0.096928,7
12,0.089742,0.002225,0.024198,0.001164,log_loss,sqrt,10,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.195122,0.270270,0.228571,0.114286,0.263158,0.214281,0.056735,16
13,0.501287,0.054974,0.050395,0.019035,log_loss,sqrt,50,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.380952,0.307692,0.358974,0.166667,0.171429,0.277143,0.091418,5
14,0.871260,0.025182,0.048170,0.006428,log_loss,sqrt,100,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.350000,0.350000,0.315789,0.216216,0.171429,0.280687,0.073396,4
15,0.095750,0.018329,0.026946,0.004057,log_loss,log2,10,"{'criterion': 'log_loss', 'max_features': 'log...",0.304348,0.358974,0.216216,0.166667,0.270270,0.263295,0.066995,9
16,0.390770,0.004779,0.039174,0.009302,log_loss,log2,50,"{'criterion': 'log_loss', 'max_features': 'log...",0.315789,0.270270,0.277778,0.166667,0.171429,0.240387,0.060277,13
17,0.823289,0.036246,0.043174,0.005340,log_loss,log2,100,"{'criterion': 'log_loss', 'max_features': 'log...",0.341463,0.324324,0.315789,0.057143,0.171429,0.242030,0.110696,12

In [27]:
grid_pred = grid.predict(X_test)
grid_pred.astype(int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0])

In [28]:
#Evalution using confusion matrix
from sklearn.metrics import confusion_matrix
con_mat = confusion_matrix(Y_test,grid_pred)
con_mat

array([[409,   5],
       [ 68,  12]], dtype=int64)

In [29]:
#To create a classification report
from sklearn.metrics import classification_report
class_report = classification_report(Y_test,grid_pred)
print(class_report)

              precision    recall  f1-score   support

       False       0.86      0.99      0.92       414
        True       0.71      0.15      0.25        80

    accuracy                           0.85       494
   macro avg       0.78      0.57      0.58       494
weighted avg       0.83      0.85      0.81       494

In [30]:
from sklearn.metrics import f1_score
f1_macro=f1_score(Y_test,grid_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': 'sqrt', 'n_estimators': 100}: 0.8094627986109266

In [31]:
from sklearn.metrics import roc_auc_score #Receiver Operating Characteristic Curve, Area Under the curve
roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1]) # to get a greater probability value, [:,1][R,C]

0.7439462560386473

In [32]:
dataset.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition_Yes',
       'BusinessTravel_TravelRarely', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Male', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'OverTime_Yes'],
      dtype='object')

In [33]:
Age=int(input('Age:'))
DailyRate=int(input('DailyRate:'))
DistanceFromHome=int(input('DistanceFromHome:'))
Education=int(input('Education:'))
EmployeeCount=int(input('EmployeeCount:'))
EmployeeNumber=int(input('EmployeeNumber:'))
EnvironmentSatisfaction=int(input('EnvironmentSatisfaction:'))
HourlyRate=int(input('HourlyRate:'))
JobInvolvement=int(input('JobInvolvement:'))
JobLevel=int(input('JobLevel:'))
JobSatisfaction=int(input('JobSatisfaction:'))
MonthlyIncome=int(input('MonthlyIncome:'))
MonthlyRate=int(input('MonthlyRate:'))
NumCompaniesWorked=int(input('NumCompaniesWorked:'))
PercentSalaryHike=int(input('PercentSalaryHike:'))
PerformanceRating=int(input('PerformanceRating:'))
RelationshipSatisfaction=int(input('RelationshipSatisfaction:'))
StandardHours=int(input('StandardHours:'))
StockOptionLevel=int(input('StockOptionLevel:'))
TotalWorkingYears=int(input('TotalWorkingYears:'))
TrainingTimesLastYear=int(input('TrainingTimesLastYear:'))
WorkLifeBalance=int(input('WorkLifeBalance:'))
YearsAtCompany=int(input('YearsAtCompany:'))
YearsInCurrentRole=int(input('YearsInCurrentRole:'))
YearsSinceLastPromotion=int(input('YearsSinceLastPromotion:'))
YearsWithCurrManager=int(input('YearsWithCurrManager:'))
Attrition_Yes=int(input('Attrition_Yes:'))
BusinessTravel_TravelRarely=int(input('BusinessTravel_TravelRarely:'))
BusinessTravel_Travel_Frequently=int(input('BusinessTravel_Travel_Frequently:'))
Department_ResearchDevelopment=int(input('Department_Research & Development:'))
Department_Sales=int(input('Department_Sales:'))
EducationField_Life_Sciences=int(input('EducationField_Life Sciences:'))
EducationField_Marketing=int(input('EducationField_Marketing:'))
EducationField_Medical=int(input('EducationField_Medical:'))
EducationField_Other=int(input('EducationField_Other:'))
EducationField_Technical_Degree=int(input('EducationField_Technical Degree:'))
Gender_Male=int(input('Gender_Male:'))
JobRole_Human_Resources=int(input('JobRole_Human Resources:'))
JobRole_Laboratory_Technician=int(input('JobRole_Laboratory Technician:'))
JobRole_Manager=int(input('JobRole_Manager:'))
JobRole_Manufacturing_Director=int(input('JobRole_Manufacturing Director:'))
JobRole_Research_Director=int(input('JobRole_Research Director:'))
JobRole_Research_Scientist=int(input('JobRole_Research Scientist:'))
JobRole_Sales_Executive=int(input('JobRole_Sales Executive:'))
JobRole_Sales_Representative=int(input('JobRole_Sales Representative:'))
MaritalStatus_Married=int(input('MaritalStatus_Married:'))
MaritalStatus_Single=int(input('MaritalStatus_Single:'))
OverTime_Yes=int(input('OverTime_Yes:'))

Age: 18
DailyRate: 230
DistanceFromHome: 3
Education: 3
EmployeeCount: 1
EmployeeNumber: 405
EnvironmentSatisfaction: 3
HourlyRate: 54
JobInvolvement: 3
JobLevel: 1
JobSatisfaction: 3
MonthlyIncome: 1420
MonthlyRate: 25233
NumCompaniesWorked: 1
PercentSalaryHike: 13
PerformanceRating: 3
RelationshipSatisfaction: 3
StandardHours: 80
StockOptionLevel: 0
TotalWorkingYears: 0
TrainingTimesLastYear: 2
WorkLifeBalance: 3
YearsAtCompany: 0
YearsInCurrentRole: 0
YearsSinceLastPromotion: 0
YearsWithCurrManager: 0
Attrition_Yes: 0
BusinessTravel_TravelRarely: 0
BusinessTravel_Travel_Frequently: 1
Department_Research & Development: 1
Department_Sales: 0
EducationField_Life Sciences: 1
EducationField_Marketing: 0
EducationField_Medical: 0
EducationField_Other: 0
EducationField_Technical Degree: 0
Gender_Male: 1
JobRole_Human Resources: 0
JobRole_Laboratory Technician: 1
JobRole_Manager: 0
JobRole_Manufacturing Director: 0
JobRole_Research Director: 0
JobRole_Research Scientist: 0
JobRole_Sales Executive: 0
JobRole_Sales Representative: 0
MaritalStatus_Married: 1
MaritalStatus_Single: 0
OverTime_Yes: 0

In [34]:
Final_prediction =grid.predict([[Age,DailyRate,DistanceFromHome,Education,EmployeeCount,
       EmployeeNumber,EnvironmentSatisfaction,HourlyRate,
       JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,
       MonthlyRate,NumCompaniesWorked,PercentSalaryHike,
       PerformanceRating,RelationshipSatisfaction,StandardHours,
       StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,
       WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,
       YearsSinceLastPromotion,YearsWithCurrManager,Attrition_Yes,
       BusinessTravel_TravelRarely,BusinessTravel_Travel_Frequently,
       Department_Sales,EducationField_Life_Sciences,
       EducationField_Marketing,EducationField_Medical,
       EducationField_Other, EducationField_Technical_Degree,
       Gender_Male,JobRole_Human_Resources,
       JobRole_Laboratory_Technician,JobRole_Manager,
       JobRole_Manufacturing_Director,JobRole_Research_Director,
       JobRole_Research_Scientist,JobRole_Sales_Executive,
       JobRole_Sales_Representative,MaritalStatus_Married,
       MaritalStatus_Single,OverTime_Yes,Department_ResearchDevelopment]])
print("Final_prediction of Random Forest: {}".format(Final_prediction))

Final_prediction of Random Forest: [False]

In [35]:
# Saving the model
import pickle
filename= "Attrition_Yes_Prediction.sav"

In [36]:
pickle.dump(grid,open(filename,'wb'))
load_model=pickle.load(open("Attrition_Yes_Prediction.sav",'rb'))

In [ ]:
def get_categorical_prediction(prediction):
    return "Yes" if prediction == 1 else "No"
Age=int(input('Age:'))
DailyRate=int(input('DailyRate:'))
DistanceFromHome=int(input('DistanceFromHome:'))
Education=int(input('Education:'))
EmployeeCount=int(input('EmployeeCount:'))
EmployeeNumber=int(input('EmployeeNumber:'))
EnvironmentSatisfaction=int(input('EnvironmentSatisfaction:'))
HourlyRate=int(input('HourlyRate:'))
JobInvolvement=int(input('JobInvolvement:'))
JobLevel=int(input('JobLevel:'))
JobSatisfaction=int(input('JobSatisfaction:'))
MonthlyIncome=int(input('MonthlyIncome:'))
MonthlyRate=int(input('MonthlyRate:'))
NumCompaniesWorked=int(input('NumCompaniesWorked:'))
PercentSalaryHike=int(input('PercentSalaryHike:'))
PerformanceRating=int(input('PerformanceRating:'))
RelationshipSatisfaction=int(input('RelationshipSatisfaction:'))
StandardHours=int(input('StandardHours:'))
StockOptionLevel=int(input('StockOptionLevel:'))
TotalWorkingYears=int(input('TotalWorkingYears:'))
TrainingTimesLastYear=int(input('TrainingTimesLastYear:'))
WorkLifeBalance=int(input('WorkLifeBalance:'))
YearsAtCompany=int(input('YearsAtCompany:'))
YearsInCurrentRole=int(input('YearsInCurrentRole:'))
YearsSinceLastPromotion=int(input('YearsSinceLastPromotion:'))
YearsWithCurrManager=int(input('YearsWithCurrManager:'))
Attrition_Yes=int(input('Attrition_Yes:'))
BusinessTravel_TravelRarely=int(input('BusinessTravel_TravelRarely:'))
BusinessTravel_Travel_Frequently=int(input('BusinessTravel_Travel_Frequently:'))
Department_ResearchDevelopment=int(input('Department_Research & Development:'))
Department_Sales=int(input('Department_Sales:'))
EducationField_Life_Sciences=int(input('EducationField_Life Sciences:'))
EducationField_Marketing=int(input('EducationField_Marketing:'))
EducationField_Medical=int(input('EducationField_Medical:'))
EducationField_Other=int(input('EducationField_Other:'))
EducationField_Technical_Degree=int(input('EducationField_Technical Degree:'))
Gender_Male=int(input('Gender_Male:'))
JobRole_Human_Resources=int(input('JobRole_Human Resources:'))
JobRole_Laboratory_Technician=int(input('JobRole_Laboratory Technician:'))
JobRole_Manager=int(input('JobRole_Manager:'))
JobRole_Manufacturing_Director=int(input('JobRole_Manufacturing Director:'))
JobRole_Research_Director=int(input('JobRole_Research Director:'))
JobRole_Research_Scientist=int(input('JobRole_Research Scientist:'))
JobRole_Sales_Executive=int(input('JobRole_Sales Executive:'))
JobRole_Sales_Representative=int(input('JobRole_Sales Representative:'))
MaritalStatus_Married=int(input('MaritalStatus_Married:'))
MaritalStatus_Single=int(input('MaritalStatus_Single:'))
OverTime_Yes=int(input('OverTime_Yes:'))

Age: 18
DailyRate: 230
DistanceFromHome: 3
Education: 3
EmployeeCount: 1
EmployeeNumber: 405
EnvironmentSatisfaction: 3
HourlyRate: 54
JobInvolvement: 3
JobLevel: 1
JobSatisfaction: 3
MonthlyIncome: 1420
MonthlyRate: 25233
NumCompaniesWorked: 1
PercentSalaryHike: 13
PerformanceRating: 3
RelationshipSatisfaction: 3
StandardHours: 80
StockOptionLevel: 0
TotalWorkingYears: 0
TrainingTimesLastYear: 2
WorkLifeBalance: 3
YearsAtCompany: 0
YearsInCurrentRole: 0
YearsSinceLastPromotion: 0
YearsWithCurrManager: 0
Attrition_Yes: 0
BusinessTravel_TravelRarely: 0
BusinessTravel_Travel_Frequently: 1
Department_Research & Development: 1
Department_Sales: 0
EducationField_Life Sciences: 1
EducationField_Marketing: 0
EducationField_Medical: 0
EducationField_Other: 0
EducationField_Technical Degree: 0
Gender_Male: 1
JobRole_Human Resources: 0

In [ ]:
Final_result = load_model.predict([[Age,DailyRate,DistanceFromHome,Education,EmployeeCount,
       EmployeeNumber,EnvironmentSatisfaction,HourlyRate,
       JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,
       MonthlyRate,NumCompaniesWorked,PercentSalaryHike,
       PerformanceRating,RelationshipSatisfaction,StandardHours,
       StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,
       WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,
       YearsSinceLastPromotion,YearsWithCurrManager,Attrition_Yes,
       BusinessTravel_TravelRarely,BusinessTravel_Travel_Frequently,
       Department_Sales,EducationField_Life_Sciences,
       EducationField_Marketing,EducationField_Medical,
       EducationField_Other, EducationField_Technical_Degree,
       Gender_Male,JobRole_Human_Resources,
       JobRole_Laboratory_Technician,JobRole_Manager,
       JobRole_Manufacturing_Director,JobRole_Research_Director,
       JobRole_Research_Scientist,JobRole_Sales_Executive,
       JobRole_Sales_Representative,MaritalStatus_Married,
       MaritalStatus_Single,OverTime_Yes,Department_ResearchDevelopment]])

In [ ]:
future_prediction_categorical = get_categorical_prediction(Final_result)
future_prediction_categorical

In [ ]:
# Print the categorical prediction
print("This employee will Attrition or quit his job in the future :", future_prediction_categorical)